body{
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 1px;
    width: 00px;
    height: 100px;
}

.square{
    width: 25px;
    height: 25px;
    background-color: black;
}